 
 @import url('https://fonts.googleapis.com/css2? family= Poppins:wght@200 & display=swap');
 @import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
 
 $fontMain: 'Poppins', sans-serif;
 $secondariFont: 'Roboto', sans-serif;


 $textLg: 3em;
 $textMd: 2em;
 $textSm: 1em;

 