
.footer{

    background-color: $Arena-3;
    text-align: center;

    
        .imagen-footer{ 
            
            margin: 1%;
            padding: 2%;
        
            text-align: center;
            

    }
    .img-de-footer-1{
        width:28%;
    
    }
    
    .img-de-footer-2{
    
        width:24%;
    
    }
    
}