
$backrground: rgba(255, 247, 216, 1);    


//vars globales




//colors

$Arena-1: rgba(255, 247, 216, 1); 

$Arena-2: rgba(226, 235, 164, 1);

$Arena-3: rgba(215, 230, 164, 1);

$negro1: hwb(0 0% 90%);

$blanco1: rgba(255,255,255, 1);




//sazing

$textLg: 3em;
$textMd: 2em;
$textSm: 1em;
